body {
    background-image: url("Recording\ Tab.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh; /* Make sure the body takes up the full viewport height */
  }

