.gradient-text {
    background: linear-gradient(45deg, #ff8c00, #800080);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8ebd3;
    width: 400px; /* Set the width of the popup */
    height: 600px; /* Set the height of the popup */
    margin: 0;
    padding: 30px; /* Optional: Add padding for better visual appearance */
  }
.centered-container {
    text-align: center; /* Center the content horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content vertically */
    height: 100vh;
  }
  
.button-container {
    margin: 10px;
  }

#videoElement {
    width: 100%; /* Set width according to your layout */
    height: auto; /* Maintain aspect ratio */
  }
  